<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.in.mobilepay">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- end -->
    <!-- Read Phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Permissions required by the sync adapter -->
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>


    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
 <!-- Sync Adapter starts -->
        <!-- Ref : https://www.udacity.com/course/viewer#!/c-ud853/l-1614738811/m-3612129996 &
        http://developer.android.com/training/sync-adapters/creating-sync-adapter.html
        http://www.coderzheaven.com/2015/07/04/sync-adapter-android-simple-example/-->
        <provider
            android:authorities="@string/content_authority"
            android:name=".sync.MobilePayProvider"
            android:exported="false"
            android:syncable="true" />

        <!-- SyncAdapter's dummy authentication service -->
        <service
            android:name=".sync.MobilePayAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
<!-- Need to check exported ture or false -->
        <service
            android:name=".sync.MobilePaySyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!--<service
            android:name=".sync.MobilePaySyncService"
            android:exported="true"
            android:process=":mobilepaysync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>-->
<!--  Sync Adapter starts End-->
        <activity
            android:name=".view.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".view.activities.PurchaseDetailsActivity"
            android:label="@string/title_activity_purchase"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".view.activities.NewSaveCardActivity"
            android:label="@string/title_activity_new_savecard"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name=".view.activities.NaviDrawerActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
    </application>

</manifest>
